body {
	text-align: center;
	background-image: url("images/background1.png");
	color: #D40B36;
	font-family: Times New Roman;
	font-size: 20px;
	cursor: url(images/normal.cur), auto;
}
h1 {
	font-size: 30px;
	color: #D40B36;
	font-weight: bold;
}
a {
	color: #D40B36;
	font-size: 30px;
}
p {
	text-align: center;
	font-size: 22px;
	margin: 0px 100px 0px 100px;
}
ul {
	display: inline-block;
	text-align: left;
}
.grid {
	display: grid;
	grid-template-column: 30% 30% 30%;
	grid-template-row: 100%;
	grid-template-areas: " grid grid grid ";
	border: 6px solid black;
}
.box a {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	
}
.box b {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}	
.box c {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
}